<template>
    <div class="contenedor_dash">
        <!-- <div class="header_dash">

        </div> -->
        <div class="cuerpo__dash">
            
            <div class="lateral_dash">

                <div class="_area_foto">
                    <div v-if="data_usuario.foto == null || data_usuario.foto == undefined" class="cuadro_foto">
                        <img src="@/assets/perfil.png" class="img___" alt="">
                    </div>
                    <div v-else class="cuadro_foto">
                        <img :src="`${preferencias.IP}` + data_usuario.foto.formats.small.url" class="img___" alt="">
                    </div>
                </div>

                <div class="nombre_usuario">
                    {{ data_usuario.nombre_completo }}
                </div>

                <div class="botones">

                    <div class="boton" @click="set_componente('tablero')">
                        <div class="icono_boton">
                            <i class="fas fa-boxes"></i>
                        </div>
                        <div class="texto_boton">
                            Productos
                        </div>
                    </div>

                    

                </div>



                <div class="espaciador">

                </div>

                <div class="btn_cerrar_sesion">
                    <b-button type="button" variant="danger" block size="sm" @click="salir">Cerrar Sesión</b-button>
                </div>

            </div>

            <div class="area_dash">
                
                <!-- <Solicitud v-if="componente == 'nueva_solicitud'" /> -->
            </div>

        </div>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

// import Solicitud from '../components/Solicitudes/Solicitud.vue'


export default {
    name: 'Dash',
    components: {
        // Solicitud,

    },
    computed: {
        ...mapState(['data_usuario', 'preferencias'])
    },
    data() {
        return {
            componente: 'sucursal'
        }
    },
    methods: {
        salir(){
            this.cerrar_sesion()
        },
        set_componente(co){
            this.componente = co
        },
        ...mapActions(['conexion_socket', 'cerrar_sesion', 'obtener_datos_usuario', 'descargar_datos'])
    },
    mounted() {
        //this.conexion_socket()
        this.obtener_datos_usuario()
        setTimeout(() => {
            this.descargar_datos()
        }, 1000);
    }
}
</script>

<style>
    .contenedor_dash{
        width: 100%;
        height: 100vh;
    }
        .header_dash{
            width: 100%;
            height: 30px;
            background-color: #37384a;
        }

        .cuerpo__dash{
            width: 100%;
            /* height: calc(100% - 30px); */
            height: 100%;
            display: flex;
        }
            .lateral_dash{
                width: 250px;
                height: 100%;
                background-color: #53b399;
                position: relative;
            }
                ._area_foto{
                    width: 100%;
                    height: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                    .cuadro_foto{
                        width: 190px;
                        height: 190px;
                        border-radius: 50%;
                        overflow: hidden;
                    }
                        .img___{
                            width: 100%;
                            /* height: 100%; */
                            object-fit: fill;
                        }

                    .nombre_usuario{
                        width: 100%;
                        height: auto;
                        color: white;
                        text-align: center;
                        font-weight: bold;
                    }

                    .botones{
                        margin-top: 25px;
                        width: 100%;
                        height: auto;
                    }
                        .boton{
                            width: 100%;
                            height: 30px;
                            transition: .4s ease;
                            user-select: none;
                            cursor: pointer;
                            display: flex;
                            color: white;
                        }
                            .boton:hover{
                                background-color: #4a8878;
                            }

                            .icono_boton{
                                width: 30px;
                                height: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: 5px;
                                margin-left: 10px;
                            }

                            .texto_boton{
                                display: flex;
                                align-items: center;
                            }


            .btn_cerrar_sesion{
                width: 100%;
                height: auto;
                position: absolute;
                bottom: 8px;
                left: 0px;
                padding-left: 10px;
                padding-right: 10px;
            }

            .area_dash{
                width: calc(100% - 250px);
                height: 100%;
                overflow: auto;
            }
                .espaciador{
                    
                    width: 100%;
                    height: 30px;
                }
</style>
