<template>
    <div class="contenedor_login">
        <div class="cuadro_A">
            
            <div class="formulario_login">
                <b-container fluid="">
                    <form @submit.prevent="login">
                        <b-row>
                            <b-col sm="12" class="mt-3">
                               <div class="texto__">
                                    Login
                                </div>
                            </b-col>
                            <b-col sm="12" class="mt-3">
                                <b-form-input type="text" placeholder="Usuario" v-model="usuario" autocomplete="off" required size="sm"></b-form-input>
                            </b-col>
                            <b-col sm="12" class="mt-3">
                                <b-form-input type="password" placeholder="Contraseña" v-model="pass" required size="sm"></b-form-input>
                            </b-col>
                            <b-col sm="12" class="mt-3">
                                <b-button type="submit" block variant="danger" size="sm">Entrar</b-button>
                            </b-col>
                        </b-row>
                    </form>
                </b-container>

                <div class="no_version">
                    u031023.15.31
                </div>

            </div>


        </div>
        <div class="cuadro_B">
            <!-- <img src="@/assets/playa-m3.jpg" class="foto_b" alt=""> -->
        </div>
    </div>
</template>

<script>

import { mapMutations, mapState } from 'vuex'
import axios from 'axios'

export default {
    name: 'Login',
    computed: {
        ...mapState(['preferencias'])
    },
    data() {
        return {
            usuario: '',
            pass: ''
        }
    },
    methods: {
        async login(){
            let formulario = {
                identifier: this.usuario,
                password: this.pass
            }


            try {
                let query = await axios.post(`${this.preferencias.IP}/api/auth/local`, formulario)
                if (query.data.message == 'Invalid identifier or password') {
                    alert('USUARIO O CONTRASEÑA INVALIDOS_')
                }else if(query.data.user.blocked){
                    alert('USUARIO BLOQUEADO POR ADMINISTRADOR_')
                }else{
                    this.set_token_sesion(query.data.jwt)
                    this.$router.replace('Dash')
                }
            } catch (e) {
                //console.log(e.response.data)
                if (e.response.data.error.message == 'Invalid identifier or password') {
                    alert('USUARIO O CONTRASEÑA INVALIDOS')
                }else if(e.response.data.error.message == 'Your account has been blocked by an administrator'){
                    alert('USUARIO BLOQUEADO POR ADMINISTRADOR')
                }else{
                    alert('ERROR DESCONOCIDO')
                }
            }

        },
        ...mapMutations(['set_token_sesion'])
    },
}
</script>

<style>
   .contenedor_login{
        width: 100%;
        height: 100vh;
        display: flex;
    }
        .cuadro_A{
            width: 50%;
            height: 100%;
            background-color: #ec475e;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .formulario_login{
                width: 300px;
                height: 350px;
            }

                .texto__{
                    font-size: 20px;
                    text-align: center;
                    color: white;
                    font-weight: bold;
                }
        .cuadro_B{
            width: 50%;
            height: 100%;
            border-left: 1px solid #e9e9e9;
            overflow: hidden;
        
        }

            .foto_b{
                height: 100%;
                object-fit: contain;
            }

            .no_version{
                position: fixed;
                bottom: 15px;
                left: 15px;
                color: white;
            }

</style>
